[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
model-bakery = "*"
coverage = "*"

[packages]
django = "*"
django-tastypie = "*"
pydub = "*"
pipfile = "*"
pyacoustid = "*"
psycopg2-binary = "*"
musicbrainzngs = "*"
Pillow = "*"
gunicorn = "*"
whitenoise = "*"
mutagen = "*"
setuptools = "*"
tastypie-swagger = {git = "https://github.com/anjomro/django-tastypie-swagger"}
